<div class="backdrop" [ngStyle]="{'display': display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display': display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Order successful!</h3>
          <button type="button" class="close" aria-label="Close" (click)="onOrderAdded()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Thank you for your order!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onOrderAdded()">Close</button>
        </div>
      </div>
    </div>
  </div>