<div class="row">
    <p>Category:</p>
    <select value="alles" [(ngModel)]="filteredCategory">
        <option value="alles">Alles</option>
        <option value="hond">Hond</option>
        <option value="kat">Kat</option>
        <option value="overig">Overig</option>
    </select>
    <hr>
    <div>
      <div
        class="list-group-item clearfix col-sm-4" 
        *ngFor="let item of items | filter:filteredCategory:'category'">
        <div class="pull-left">
          <h3 class="list-group-item-heading" style="text-align: center;">{{ item.name }}</h3>
          <br />
          <span>
            <img 
            [src]="item.imagePath"
            alt="{{ item.name }}" 
            class="img-responsive" 
            style="max-height: 300px; display: block; margin: 0 auto;">
          </span>
          <br />
          <p class="list-group-item-text">{{ item.description }}</p>
          <hr>
          <div>
            <p class="list-group-item-text pull-left" style="font-weight: bold;">Price: {{ item.price | currency:'EUR':'symbol':'1.2-2' }}</p>
            <button type="button" class="btn btn-default btn-sm pull-right" (click)="addProduct(item)">
                <span class="glyphicon glyphicon-shopping-cart"></span> Add to Shopping Cart
            </button>
          </div>
        </div>
      </div> 
    </div>
  </div>